// site header
.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 16px;
  font-weight: normal;
}
.navbar-brand {
    font-size: 18px;
    font-weight: normal;
}

// width for list pages
.universal-wrapper{
    max-width: 760px;
    margin: auto;
}

// widths and margins for non-home page widgets
// manually defined
#research{
    max-width: 760px;
    margin: auto;
    padding-bottom: 10px;
}
#projects{
    padding-top: 10px;
}