.dropdown-menu.show {
    display: block;
    border-color: rgba(229,229,229,0.4)
}

body.dark .powered-by {
    color: rgb(229,229,229)
}

.card-simple {
    background: rgb(229, 229, 229);
}

.dark .card-simple {
    background: rgb(26, 26, 26);
}

body {
    background: rgb(229, 229, 229);
}

body.dark {
    background: rgb(26, 26, 26);
}

.pagination li > a, .pagination li > a:hover {
    background: rgb(229, 229, 229);
    color: rgb(26, 26, 26);
    border-color: rgb(26, 26, 26);
}

.dark .pagination li > a, .dark .pagination li > a:hover{
    background: rgb(26, 26, 26);
    color: rgb(229, 229, 229);
}

p>a, li:not(.nav-item):not(.dropdown-item)>a{
    text-decoration: underline;
}

.navbar-brand {
    font-size: 2rem !important;
    font-weight: 400 !important;
}

.article-metadata {
    font-size: 0.8rem;
}

.universal-wrapper {
    width: 100%;
    max-width: 1140px;
}

/* for blog cards */
.universal-wrapper .card-simple {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto 0px;
}

.home-section {
    padding: 50px 0 50px 0;
}

.home-section {
    background: #ffffff !important;
}

.dark .home-section {
    background: #1A1A1A !important;
}

.section-heading {
    text-align: right;
}

.network-icon a {
    color: #008383;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
	color: #e5e5e5;
}

.portrait-title h3, .portrait-title a, .author-card .card-subtitle {
	color: #1A1A1A;
}

.dark .portrait-title h3, .dark .portrait-title a, .dark .author-card .card-subtitle {
	color: #e5e5e5;
}

.dark .form-control {
	background-color: #1A1A1A;
}

p>a, li:not(.nav-item)>a, h3.article-title>a:hover {
	color: #008383 !important;
}
